@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*#menuToggle{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

@media (max-width: 990px){
    #menuToggle{
        display: none;
    }
}

#menuToggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color: tomato;
}

#menuToggle input{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

@media (max-width: 990px){
    #menuToggle input{
        flex-direction: column;
    }
}

#menuToggle span{
    display: flex;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;
    transform-origin: 4px 0px;

    transition: transform 0.5 cubic-bezier(0.77,0.2,0.05,1.0), background cubic-bezier(0.77, 0.2, 0.05, 1.0) opacity 0.55s ease;
}

@media(max-width: 900px){
    #menuToggle span{
        flex-direction: column;
        
    }
}
#menuToggle span:first-child{
    transform-origin: 0%  0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px,1px);
    background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2,0.2);
}

#menuTogglr input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0,-1px);
} 

#menu{
    position: right;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: tomato;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin:0% 0%;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul{
    transform: none;
}*/

#hamnav{
    width: 100%;
    background:white;
    
}

#hamnav label, #hamburger{ display: none;}

#hamitems{display: flex;}
#hamitems a{
    width: 20%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 3s;

}
#hamitems a:hover{
    background: tomato;
}
@media (max-width: 768px){
    #hamnav label{
        display: flex;
        color:red;
        background: orange;
        font-style: normal ;
        font-size: 1.2em;
        padding: 10px;

    }

#hamitems a{
    box-shadow: border-box;
    display:block;
    width: 100%;
    border-top: 1px solid white;
}

#hamitems {display: block;}
#hamnav input:checked ~ #hamitems {display: block;}
}

nav.menu{
    font-size: 2.5em;


}


div.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100vw;
    background: #304353;
    flex-direction: row;

}


@media (max-width: 500px) {
    div.nav-bar{
        flex-direction: column;
    }
    
}


div.logo {
    font-size: 1.5rem;
    color: #bcc3c7;
    display: flex;
    padding: 1rem 6rem;

}

@media (max-width: 500px) {
    div.logo{
        padding-left: 0px;
        padding-right: 5rem;
    }
    
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}



ul li {
    margin: 0 2vw;
    list-style: none;
    font-size: 1.1rem;
}

ul li a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

ul li a:hover {
    color: #304353;
    background: #fff;
    padding: 0.5rem;
}

@media screen and (max-width:500px) {
    ul.nav-links{
        flex-direction: column;
    }
    
}



div.hero-section {
    background: #304353;
    padding: 10rem;
}
@media(max-width: 500px){
    div.hero-section{
        padding-inline-start: 20px;
    }
}


div.hero-content-heading {
    text-align: center;
}

div.hero-content-heading h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #bcc3c7;
    text-overflow: ellipsis;
}


div.hero-content-heading p {
    text-align: center;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}
@media (max-width: 500px) {
    div.hero-content-heading p{
        text-align: center;
        padding: auto;
    }
    
}

div.hero-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.hero-content-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.hero-background {
    background: #f0f0f0;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    display:flex;
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: 220px;
    position: relative;
}
@media(max-width: 990px){
    div.background{
        background: white;
        flex-direction: column;
        box-shadow: 2px 2px 15px 0 rgb(80 80 80 / 20%);
        padding: 0.9px 0.9px;
        position: absolute;
        width: 300px;
        height: 250px;
        text-align: center;
    }
}

div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    display: flex;
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

@media (max-width: 990px){
    div.hero-background-pos{
        display:none;
    }
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.snapshot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    padding: 4rem 6rem;
}



div.snapshot-box-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 990px) {
    div.snapshot-box-content{
        flex-direction: row;
    }
    
}


div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.gallery-section {
    background: #fff;
    padding: 4rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.gallery-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 3rem;
}
 @media (max-wdith: 500px) {
     div.gallery-img{
         flex-direction: column;
     }
     
 }
div.img {
    margin: 10px;
}

div.img img {
    width: 250px;
    height: 180px;
}

div.footer {
    background: #304353;
    padding: 3rem;
}

div.footer-content {
    text-align: center;
}

div.footer-content h4 {
    color: #bcc3c7;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

@media (max-width: 500px){
    input[type='text']{
        width: 50%;
    }
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

@media (max-width: 500px){
    input[type="email"]{
        width: 50%;
    }


    
}

::placeholder {
    color: #A6A5AA;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 51%;
    height: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
}

@media (max-width: 500px){
    textarea{
        width: 70%;
    }
}

div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 1rem;
    padding-top: 6rem;
}